body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-align: center;
	text-anchor: middle;
	/*background-color: #f5f5dc;*/
	/*font-size: 24px;*/
	margin: 0 auto;
}

#landing-page {
	/*background: white;*/
	background-image: url(img/news.png);
	background-size: 100vh;
	/*opacity: 0.3; */
	width: 100vw;
	height: 100vh;
/*	margin: 0 auto;
	padding: none;*/
}

#title {
	padding-top: 35vh;
	width: 60vw;
	margin: 0 auto;

	/*font-size: px;*/
	
	/*background: white;*/
	/*opacity: .8;*/
}

#title-content {
	background: white;
}

h1 {
	/*opacity: 1;*/
	margin: 0 auto;
	color: #7f1505;
	font-size: 100px;
	/*background: white;*/
	
}

h2 {
	/*background: white;*/
	font-size: 40px;

}

#intro {
	width: 100vw;
	height: 70vh;
	padding-top: 30vh;
	/*padding-bottom: 0;*/
	position: relative;
	background: #62A1Ae;

}

#top-tech {
	width: 100vw;
	height: 97vh;
	padding-top: 3vh;
	/*padding-bottom: 0;*/


}

/*text {
	font-family: Georgia;
}*/