body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	text-align: center;
	text-anchor: middle;
	/*background-color: #f5f5dc;*/
	/*font-size: 24px;*/
	margin: 0 auto;
}

#landing-page {
	/*background: white;*/
	background-image: url(img/news.png);
	background-size: 100vh;
	/*opacity: 0.3; */
/*	margin: 0 auto;
	padding: none;*/
}

#title {
	padding-top: 35vh;
	width: 60vw;
	margin: 0 auto;

	/*font-size: px;*/
	
	/*background: white;*/
	/*opacity: .8;*/
}

#title-content {
	background: white;
	padding: 1vw;
}

h1 {
	/*opacity: 1;*/
	margin: 0 auto;
	color: #7f1505;
	font-size: 100px;
	/*background: white;*/
	
}

h2 {
	/*background: white;*/
	font-size: 40px;
	color: #1d3b6b;
	margin: 0 auto;
}

h4 {
	color: #FCC800;
}

a {
	color: #FCC800;
	text-decoration: none;
	font-size: 20px;
	padding: none;
	margin: 0 auto;
}

.full-page {
	width: 100vw;
	height: 100vh;
}

.link {
	margin: 0 auto;
}

#container {
	/*float: left;*/
}

.stem-links {
	margin: 0 auto;
	padding: none;
	width: 30vw;
	display: inline-block;
}

#sources {
	background: #8DA153;
}

.blue {
	color: #1d3b6b;
}

#top-tech {
	padding-top: 3vh;
	/*padding-bottom: 0;*/

}

#intro {
	font-size: 23px;
}

#salary-bar {
	padding-top: 5vh;

}

#gender-diff {
	padding-top: 10vh;
}

.bold-text {
	font-size: 50px;
	color: #FCC800;
}

.transition {
	height: 90vh;
	padding-top: 10vh;

	background: #62A1Ae;
}

.transition-text {
	width: 70vw;
	margin: 0 auto;
	color: white;
	font-size: 30px;
}

.black {
	color: black;
}

#kids{
	padding-top: 5vh;
}

#majors {
	padding-top: 5vh;
}

#degrees {
	padding-top: 5vh;
}

#conclusion {
	font-size: 24px;
}

#navbar {
	/*position: relative;*/
	z-index: 1;
	width: 15vw;
	/*background: green;*/
	height: 100vh;	
	position: fixed;
	margin-left: 85vw;
	padding-top: 2.5vh;
	/*color: white;*/
}

.button {
	margin-bottom: 5vh;
	
}

.button-text {
	width: 9vw;
	height: 2vh;
	/*background: green;*/
	color: #1d3b6b;
	opacity: 0;
	z-index: 1;
	font-size: 1.5vw;
	vertical-align: top;
	display: inline-block;
	/*text-align: right;*/
}

button {
	/*margin-left: 11vw;*/
	background: #1d3b6b;
	height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    display: inline-block;
    border: none;
    /*display: block;*/
    /*border: 1px solid #000;*/
}

button:focus {
	outline:0;
}

button:hover {
	background: #FCC800;
}

/*#majors-text {
	font-size: 18px;
}*/

/*text {
	font-family: Georgia;
}*/